<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StoryBlaster's Post Organization Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div class ="container">
        <div class = "row">
        <h1>StoryBlaster's Post Organization Tool</h1>
            <hr>
            <form action method="get" class="form-inline" style="text-align: left">
              <div class="form-group">
                <label for="postType">Post Type </label>
                <select id="postType" name="postTyle" class="form-control">
                      <option>(any)</option>
                      <option>Text</option>
                      <option>Video</option>
                      <option>Image</option>
                      <option>Photo</option>
                    <option>Fb link</option>
                    <option>Audio</option>
                </select>
              </div>
                <div class="form-group">
                <label for="platform">Platform </label>
                <select id="platform" name="platform" class="form-control">
                      <option>(any)</option>
                      <option>Twitter</option>
                      <option>Facebook</option>
                      <option>Instagram</option>
                </select>
                </div>

                <div class="form-group">
                <label for="succeeded">Succeeded </label>
                <select id="succeeded" name="succeeded" class="form-control">
                      <option>(any)</option>
                      <option>Yes</option>
                      <option>No</option>
                </select>
                </div>

                <div class="form-group">
                <label for="intent">Intent </label>
                <select id="intent" name="intent" class="form-control">
                      <option>(any)</option>
                      <option>Identity (1)</option>
                      <option>Build community (2)</option>
                      <option>Outreach (3)</option>
                      <option>Sell (4)</option>
                </select>
                </div>

                <div class="form-group">
                <label for="category">Category </label>
                <select id="category" name="category" class="form-control">
                      <option>(any)</option>
                      <option>Art</option>
                      <option>Comics</option>
                      <option>Crafts</option>
                    <option>Dance</option>
                      <option>Design</option>
                      <option>Fashion</option>
                      <option>Film $ Video</option>
                    <option>Food</option>
                      <option>Games</option>
                      <option>Journalism</option>
                      <option>Music</option>
                    <option>Photography</option>
                      <option>Pubishing</option>
                      <option>Technology</option>
                      <option>Theater</option>
                </select>
                </div>

              <button type="search" class="btn btn-default">Search</button>
            </form>

            <br>

            <div id="CourseChart">
                <table class="table">
                    <tr>
                        <th>
                        Post ID
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Source
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Likes
                    </th>
                    <th>
                        Shares
                    </th>
                    <th>
                        Comments
                    </th>
                        <th>
                        Succeeded
                    </th>
                    <th>
                        URL
                    </th>
                </tr>
                        {% for post in result_list %}
                        <tr>
                            <td><a href="/{{ post._post_id }}">{{ post._post_id }}</a></td>
                            <td>
                                <img src="http://www.worldkidneyday.org/wp-content/uploads/2014/09/placeholder_original-140x140.png" width="140">
                            </td>
                            <td>{{ post._platform }}</td>
                            <td>{{ post._postType }}</td>
                            <td>{{ post._message }}</td>
                            <td>{{ post._likes }}</td>
                            <td>{{ post._shares }}</td>
                            <td>{{ post._comments }}</td>
                            <td>{{ post._succeeded }}</td>
                            <td><a class="btn btn-sm btn-default" href="{{ post._postUrl }}">link</a>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
<script src="/js/main.js"></script>
</body>
</html>
